.light-theme {
  header {
    background: #455a64;
    color: white;
  }
  .bell-btn {
    display: none;
  }
  .switch-store-btn {
    border: 1px solid #c3c3c3;
    padding: 6px 10px;
    font-size: 13px;
    color: white;
    margin: 0px 15px 0;

  }

  .show  .switch-store-btn {
    background: #f1f1f1;
    color: #4e4e4e;
  }

  .dashboard-btn-big {
    margin-right: 5px;
  }

  .user-profile img {
    max-width: 42px;
  }

  .user-profile {
    border: 0px;
  }
  .sidemenu-bg {
    background: #f7f7f7;
  }
  .sidemenu li a {
    color: #828282;
  }
  .breadcrumb-row {
    border-top: 0px solid #696b6a;
  }

  .sidemenu-bg {
    path {
      fill: #717171;
    }
    svg {
      margin-right: 10px;
      width: 25px;
    }
  }
  .sidemenu-bottom-section li a {
    color: #8d8d8d;

    &:hover {
      color: white;
    }
  }
  .sidemenu-bottom-section p {
    color: #929292;
  }

  .sidemenu li a:hover {
    background: #d6d6d6;
  }
  .sidemenu li a:focus {
    background: #d6d6d6;
  }

  .sidemenu li a {
    position: relative;
    transition: all 0.3s ease;

    span {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.25s linear;
    }
  }

  .menu-active .sidemenu li a {
    span {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.25s linear;
    }
  }


  .menu-hover-tooltip span {
    opacity: 1 !important;
  }
  // .sidemenu li:nth-child(1) a:nth-child(1) {
  //     border-left: 4px solid #1DD1A1;
  // }
  // .sidemenu li:nth-child(2) a {
  //     border-left: 4px solid #F19066;
  // }
  // .sidemenu li:nth-child(3) a {
  //     border-left: 4px solid #FECA57;
  // }
  // .sidemenu li:nth-child(4) a {
  //     border-left: 4px solid #EE5966;
  // }
  // .sidemenu li:nth-child(5) a {
  //     border-left: 4px solid #54A0FF;
  // }
  // .sidemenu li:nth-child(6) a {
  //     border-left: 4px solid #00D2D3;
  // }
  // .sidemenu li:nth-child(7) a {
  //     border-left: 4px solid #596275;
  // }

  .sidemenu li.active {
    position: relative;

    &::before {
      display: block;
      content: "";
      background: #1dd1a1;
      height: 100%;
      width: 4px;
      position: absolute;
    }
  }

  .sidemenu li {
    border-left: 0px solid #fcfcfc;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(154, 154, 154, 0.05);
  }

  .dropdown-toggle .dropdown-item {
    font-weight: 300;
  }

  .dropdown-item:active {
    background-color: #26a69a !important;
    color: white !important;
  }

  .dropdown-item:hover {
    background-color: #26a69a !important;
    color: white !important;
  }
}

#slide-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  float: left;
  width: 100%;
  // max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body.menu-active #slide-menu {
  left: 0px;
}

#content {
  position: relative;
  // top: 50px;
  left: 49px;
  width: calc(100% - 49px);
  height: 100%;
  padding: 60px;
  // overflow: scroll;
  background: #F0F4F4;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#content div.menu-trigger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;

  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body.menu-active #content {
  left: 12.666667%;
  width: calc(100% - 12.666667%);
  overflow-x: hidden;
}

body.menu-active #content .menu-trigger {
  left: 12.666667%;
}

#slide-menu {
  width: 12.7%;
}

.sidemenu-bottom-section p {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear;
}

body.menu-active {
  .sidemenu-bottom-section p {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
  }
}


:focus {
  outline-color: #26a69a !important;
  outline-style: auto;
  outline-width: 1px;
}




