.light-theme {
header {
    background: #455A64;
    color: white;
}
.bell-btn {
    display: none;
}
.switch-store-btn {
    border: 1px solid #c3c3c3;
    padding: 3px 10px;
    font-size: 13px;
    color: white;

    margin: 0px 15px 0
}


.dashboard-btn-big {

    margin-right: 5px;
}


.user-profile img {
    max-width: 42px;
}


.user-profile {
    border: 0px;
}
.sidemenu-bg {
    background: #FCFCFC;
  
}
.sidemenu li a {
    color: #8D8D8D;
}
.breadcrumb-row {
    border-top: 0px solid #696b6a;
}
.sidemenu path {
    fill: #828282 ;
}
.sidemenu-bg {
    path {
        fill: #828282 ;
    }
    svg {
        margin-right: 10px;
    }
}
.sidemenu-bottom-section li a {
    color: #8D8D8D;

    &:hover {
        color: white;
    }
}
.sidemenu-bottom-section p {
    color: #929292;
}

.sidemenu li a:hover {
    background: #ececec;
}


.sidemenu li a {
    position: relative
}


// .sidemenu li:nth-child(1) a:nth-child(1) {
//     border-left: 4px solid #1DD1A1;
// }
// .sidemenu li:nth-child(2) a {
//     border-left: 4px solid #F19066;
// }
// .sidemenu li:nth-child(3) a {
//     border-left: 4px solid #FECA57;
// }
// .sidemenu li:nth-child(4) a {
//     border-left: 4px solid #EE5966;
// }
// .sidemenu li:nth-child(5) a {
//     border-left: 4px solid #54A0FF;
// }
// .sidemenu li:nth-child(6) a {
//     border-left: 4px solid #00D2D3;
// }
// .sidemenu li:nth-child(7) a {
//     border-left: 4px solid #596275;
// }



.sidemenu  .active {
    border-left: 3px solid #1DD1A1;
    a {
        padding: 15px 14px;
    }
}

.sidemenu li {
    border-left: 0px solid  #FCFCFC;
  
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(154, 154, 154, 0.05) ;
  }
  

}