.light-theme header {
  background: #455a64;
  color: white; }
.light-theme .bell-btn {
  display: none; }
.light-theme .switch-store-btn {
  border: 1px solid #c3c3c3;
  padding: 6px 10px;
  font-size: 13px;
  color: white;
  margin: 0px 15px 0; }
.light-theme .show .switch-store-btn {
  background: #f1f1f1;
  color: #4e4e4e; }
.light-theme .dashboard-btn-big {
  margin-right: 5px; }
.light-theme .user-profile img {
  max-width: 42px; }
.light-theme .user-profile {
  border: 0px; }
.light-theme .sidemenu-bg {
  background: #f7f7f7; }
.light-theme .sidemenu li a {
  color: #828282; }
.light-theme .breadcrumb-row {
  border-top: 0px solid #696b6a; }
.light-theme .sidemenu-bg path {
  fill: #717171; }
.light-theme .sidemenu-bg svg {
  margin-right: 10px;
  width: 25px; }
.light-theme .sidemenu-bottom-section li a {
  color: #8d8d8d; }
  .light-theme .sidemenu-bottom-section li a:hover {
    color: white; }
.light-theme .sidemenu-bottom-section p {
  color: #929292; }
.light-theme .sidemenu li a:hover {
  background: #d6d6d6; }
.light-theme .sidemenu li a:focus {
  background: #d6d6d6; }
.light-theme .sidemenu li a {
  position: relative;
  transition: all 0.3s ease; }
  .light-theme .sidemenu li a span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s linear; }
.light-theme .menu-active .sidemenu li a span {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear; }
.light-theme .menu-hover-tooltip span {
  opacity: 1 !important; }
.light-theme .sidemenu li.active {
  position: relative; }
  .light-theme .sidemenu li.active::before {
    display: block;
    content: "";
    background: #1dd1a1;
    height: 100%;
    width: 4px;
    position: absolute; }
.light-theme .sidemenu li {
  border-left: 0px solid #fcfcfc; }
.light-theme .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(154, 154, 154, 0.05); }
.light-theme .dropdown-toggle .dropdown-item {
  font-weight: 300; }
.light-theme .dropdown-item:active {
  background-color: #26a69a !important;
  color: white !important; }
.light-theme .dropdown-item:hover {
  background-color: #26a69a !important;
  color: white !important; }

#slide-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  float: left;
  width: 100%;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

body.menu-active #slide-menu {
  left: 0px; }

#content {
  position: relative;
  left: 49px;
  width: calc(100% - 49px);
  height: 100%;
  padding: 60px;
  background: #F0F4F4;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

#content div.menu-trigger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

body.menu-active #content {
  left: 12.666667%;
  width: calc(100% - 12.666667%);
  overflow-x: hidden; }

body.menu-active #content .menu-trigger {
  left: 12.666667%; }

#slide-menu {
  width: 12.7%; }

.sidemenu-bottom-section p {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear; }

body.menu-active .sidemenu-bottom-section p {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear; }

/*# sourceMappingURL=skins.css.map */
